<section class="wrapper">
<body ng-app="blogApp">

    <div ng-controller="BlogController as blog">
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand navtext">
            <img src="../../assets/IIIT_Bangalore_Logo.svg" alt="" width="60"  class="d-inline-block align-text-top">
            IIITB CMS</a>
          <ul class="nav justify-content-end d-flex" id="myNav">
            <li class="nav-item m-1">
              <!-- <a class="nav-link mybutton text m-1" href="#" (click)="register()">Login</a> -->
              <!-- <button type="button" class="buy" (click)="navigateTo(1)">See All Posts</button> -->
            </li>
            <li class="nav-item m-1">
              <!-- <a class="nav-link mybutton text m-1" href="#" (click)="signup()">Signup</a> -->
              <button type="button" class="buy" (click)="navigateTo(2)">Add New Post</button>
            </li>
          </ul>
        </div>
      </nav>

      </div>

      <div class="content">
        <div class="contain">
          <div class="committees" *ngFor="let comm of committees">
            <div class="mycard m-4">
              <div class="cardheader mt-2">
                <h3 class="name" >{{comm.name}}</h3>
              </div>
              <div class="image">
                <img src="../../../assets/club.svg" alt="club" height="100px">
              </div>
              <div class="cardbody">
                <div class="desc">
                 <!-- {{post.description}} -->
                 <!-- <p class="overflow" [innerHTML]="comm.description">{{post.description}}...</p> -->
                </div>
              </div>
               <div class="cardFooter">
                  <button class="buy m-4" (click)="navigateTo(3)">Select Committee</button>
              </div>
            </div>
          </div>
        </div>

      </div>

  </body>
</section>
<app-footer></app-footer>
